/* .register
{
    background-image: url(../../../assets/images/220AdminPanelLottieAnimations-FreeinLottieJSONdotLottieGIF-ezgif.com-video-to-gif-converter.gif);
    background-repeat: no-repeat;
    background-size: contain;
} */